body {
	background-image: url("images used/attempt two flowers.bmp");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-size: 50px;
	font-family: CatFont;
	vertical-align: top;
}


h1{
	text-align: center;
	font-size: 70px;
	font-family: CatFont;
	padding-bottom: 0px;
	padding-top: 0px;
	border: 5px dashed #1d1347;
	background: rgba(87, 65, 186, 0.5);
}


h2{
	text-align: center;
	font-size: 70px;
	font-family: CatFont;
	padding-bottom: 0px;
	padding-top: 0px;
	background: rgba(87, 65, 186, 0.5);
}
	

li {
	font-size: 50px;
	font-family: CatFont;
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

a:link {
	color: black;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	opacity: 0.5;
	padding: 0px;
}


.ufo {
	background-position: right top;
	float: right;
	vertical-align:top;
	
}


.links_all {
	text-align: left;
	float: left;
	display: inline-block;
	background: rgba(87, 65, 186, 0.5);
	margin-bottom: 10px;
  	border-left-style: solid;
	border-color: #1d1347;
	border-width: 15px;
 	word-spacing: 10px;
	line-height: 1.4;
	padding-right: 200px;
 	list-style-type: none;
 	margin-right: 50px
	list-style-image: url('sqpurple.gif'); (COME BACK TO THIS)
}

.green {
	display: flex;
	justify-content: space-between;
	border: 5px dashed #1d1347;	
}

.red {
	display: flex;
	justify-content: space-between;
	border: 5px dashed #1d1347;
	display: block;
}

.orange {
	display: flex;
	justify-content: space-between;
	border: 5px dashed #1d1347;
	display: block;
}

.collection {
	display: flex;
	justify-content: space-between;
	border: 5px dashed #1d1347;
}

.flowers {
	display: flex;
	justify-content: space-between;
	border: 5px dashed #1d1347;
}

.banana {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: auto;
	justify-content: space-between;
	border: 5px dashed #1d1347;
}

.potato {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: auto;
	justify-content: space-between;
	border: 5px dashed #1d1347;
}

.pepers {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: auto;
	justify-content: space-between;
	border: 5px dashed #1d1347;
}

.strawberriy {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: auto;
	justify-content: space-between;
	border: 5px dashed #1d1347;
}

.watermelon {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: auto;
	justify-content: space-between;
	border: 5px dashed #1d1347;
}

.lime {
	justify-content: space-between;
	border: 5px dashed #1d1347;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: auto;
}

.zeepzorp {
	display: flex;
	justify-content: space-between;
	border: 5px dashed #1d1347;
	display: block;
}

.hates {
	display: flex;
	justify-content: space-between;
	border: 5px dashed #1d1347;
}

.tinyatoms {
	display: flex;
	justify-content: space-between;
	border: 5px dashed #1d1347;
	display: block;
}	
.grateful {
	display: flex;
	justify-content: space-between;
	border: 5px dashed #1d1347;
}	

.gif {
	float: right;
	ackground: rgba(87, 65, 186, 0.5)	
}

.spoon {
	border: 5px dashed #1d1347;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 49%;
}

.font {
	background: rgba(87, 65, 186, 0.5);
}

.outside_font {
	background: rgba(87, 65, 186, 0.5);
  	border-bottom-style: dashed;
	border-color: #1d1347;
	border-width: 15px;
}

@font-face { 
	font-family: "CatFont"; 
	src: url('CatFont.ttf'); 
}